In [37]:
import pandas

1. Create a dataframe with this:

In [38]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [39]:
# list to dict
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tomás', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [41]:
# dict to dataframe
friends=pandas.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

2. Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

In [46]:
listoftuples=[(name,country) for (name,country) in zip(friends.names,friends.country)]
listoftuples

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

3. Implement a for loop to count how many peruvian there are in the data frame.

In [47]:
countPeruvian=0
for country in friends.country:
    if country == "Peru":
        countPeruvian +=1 # update counter

countPeruvian

2

4. Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.

In [58]:
countMen=0
for woman in friends.woman:
    if woman==False:
        countMen +=1
countMen

4

In [59]:
# using not:
countMen=0
for woman in friends.woman:
    if not woman: # when not woman = true, then it's male
        countMen +=1

countMen

4

In [60]:
# using ~
countMen=0
for man in ~friends.woman: # for each man in 'not woman'
    if man:
        countMen +=1

countMen

4