In [11]:
import pandas

In [12]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [13]:
# list to dict
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [14]:
# dict to dataframe
friends=pandas.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

Where is the youngest male in the group from?

In [23]:
# Find the answer using sort_values()
friends[friends.woman==False].sort_values('ages',ascending=False).tail(1).country

2    Spain
Name: country, dtype: object

In [146]:
# Do some research and find the answer using where() and min()
agesfilter = friends[friends.ages==min(friends.ages)]
malefilter = friends[friends.woman==False]
friends.where(agesfilter & malefilter, inplace = True)

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [134]:
# Do some research and find the answer using query() and min()

27